.button:hover {
  -fx-scale-y: 1.1;
  -fx-scale-x: 1.1;
  -fx-border-color: BLACK;
}

.top3 {
  -fx-border-color: rgb(3, 240, 3);
}

.top10 {
  -fx-border-color: rgb(251, 60, 60);
}

.top20 {
  -fx-border-color: rgb(243, 98, 7);
}

.top50 {
  -fx-border-color: rgb(248, 169, 73);
}

.top100 {
  -fx-border-color: rgb(252, 207, 129);
}

.end-game {
  -fx-border-color: #173ab5;
}

.list-cell {
  -fx-font: 12px "Comic Sans MS", "Comic Sans", sans-serif;
}

.combo-box {
  -fx-font: 18px "Comic Sans MS", "Comic Sans", sans-serif;
  -fx-background-color: rgb(190, 199, 255);
  -fx-prompt-text-fill: #411a72;
}

.combo-box .text-field {
  -fx-background-color: rgb(190, 199, 255);
  -fx-prompt-text-fill: #856ea2;
}

.list-view .list-cell:odd {
  -fx-background-color: rgb(190, 199, 255);
}

.list-view .list-cell:odd:hover {
  -fx-background-color: rgb(146, 106, 234);
}

.list-view .list-cell:odd:selected {
  -fx-background-color: rgb(146, 106, 234);
}

.combo-box .arrow {
  -fx-background-color: white;
}

.combo-box .arrow-button {
  -fx-background-color: #882ff6;
}

.list-view .list-cell:even {
  -fx-background-color: #c2e3ff;
}

.list-view .list-cell:even:hover {
  -fx-background-color: #4e79ec;
}

.list-view .list-cell:even:selected {
  -fx-background-color: #4e79ec;
}

#null {
  -fx-background-color: transparent;
}

#easy {
  -fx-background-color: #35D461;
}

#medium {
  -fx-background-color: #F99D07;
}

#hard {
  -fx-background-color: red;
}

#master {
  -fx-background-color: #8b0000;
}
